/*===================================
 Private vars
===================================*/
$_z-hide: -1;
$_z0: 0;
$_z1: 1;
$_z2: 2;
$_z3: 3;
$_z4: 4;
$_z5: 5;
$_z6: 6;
$_z7: 7;
$_z8: 8;
$_z8: 9;

/*===================================
 Use cases from TOP to BOTTOM layers
===================================*/
$z-modal: $_z8;

$z-header: $_z8;

$z-floating-menu: $_z1;
